<div class="loading-container" *ngIf="loading">
    <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</div>
<div class="crash-game-container" *ngIf="!loading">
    <div class="user-info-container">
        <app-user-info (newUserEvent)="setClientData($event)"
            (newClientWalletInZetonEvent)="setClientWalletInZeton($event)"></app-user-info>
    </div>
    <app-timer></app-timer>
    <div class="crash-main-container">
        <div class="crash-bet-container">
            <div>
                <app-crash-bet (newAutoStopEvent)="setAutoStopAmount($event)"></app-crash-bet>
            </div>
        </div>
        <div class="crash-container">
            <div>
                <app-crash (loadingComplete)="setLoaded($event)"></app-crash>
            </div>
        </div>
        <div class="messages-container">
            <div>
                <app-messages (loadingComplete)="setLoaded($event)"></app-messages>
            </div>

        </div>
    </div>
    <div class="previous-results-container">
        <app-previous-results [roomName]="roomName" (loadingComplete)="setLoaded($event)"></app-previous-results>
    </div>

    <div class="secondary-component-container">
        <div class="payment-container">
            <div>
                <app-payment (newBetAmountEvent)="setBetAmount($event)" (newSubmitEvent)="sendBet()"
                    [disabled]="disabled" [betMade]="betMade" [reset]="reset"
                    [clientWalletInZeton]="clientWalletInZeton" [lineBet]="true"></app-payment>
            </div>

        </div>
    </div>
</div>