<!-- <div class="loading-container" *ngIf="loading">
    <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</div> -->
<div *ngIf="betStatus == 'win' || betStatus == 'lose'"
    [ngClass]="betStatus == 'win' ? 'status-overlay win-style' : betStatus == 'lose' ? 'status-overlay lose-style' : 'status-overlay'">
</div>
<div class="wheel-game-container">
    <div class="user-info-container">
        <app-user-info (newUserEvent)="setClientData($event)"
            (newClientWalletInZetonEvent)="setClientWalletInZeton($event)"></app-user-info>
    </div>
    <div class="timer-container">
        <div>
            <app-timer></app-timer>
        </div>
    </div>
    <div class="first-group-container">
        <div class="wheel-container">
            <div>
                <app-wheel (loadingComplete)="setLoaded($event)"></app-wheel>
            </div>
        </div>
        <div class="messages-container">
            <div>
                <app-messages (loadingComplete)="setLoaded($event)"></app-messages>
            </div>
        </div>
    </div>
    <div class="previous-result-container">
        <div>
            <app-previous-results [roomName]="roomName" (loadingComplete)="setLoaded($event)"></app-previous-results>
        </div>
    </div>
    <div class="second-group-container">
        <div class="predictions-container">
            <div>
                <app-bet (newPredictionEvent)="setBetPrediction($event)" [disabled]="disabled" [reset]="reset">
                </app-bet>
            </div>
        </div>
        <div class="amout-container">
            <div>
                <app-payment (newBetAmountEvent)="setBetAmount($event)" (newSubmitEvent)="sendBet()"
                    (newBetResponseEvent)="setBetStatus($event)" [disabled]="disabled" [wheelBet]="betPrediction"
                    [betMade]="betMade" [reset]="reset" [clientWalletInZeton]="clientWalletInZeton"></app-payment>
            </div>
        </div>
    </div>
</div>