.higher-lower-number {
    font-weight: bold;
    color: white;
    font-size: 10vw;
}

@media only screen and (max-width: 900px) {
    .higher-lower-number {
        font-weight: bold;
        color: white;
        font-size: 10vh;
    }
}