@mixin button ($color, $width: 120px, $height: 40px, $fontSize: 40px) {
    width: $width;
    height: $height;
    color: rgb(0, 0, 0);
    background-color: $color;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    font-size: $fontSize;
    line-height: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-spacing: 10px;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.5;
    }

    &:disabled {
        color: rgba(255, 255, 255, 0.363);
        background-color: desaturate($color, 50%);
    }
}

.pay-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.input-and-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 50px;
}

.input-and-name-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    min-width: 100px;
    min-height: 50px;
    margin: 1%;
}

.plus-minus-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5%;
    margin-top: 5%;
}

.all-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.amount-input {
    width: 100px;
    height: 50px;
    min-width: 5px;
    min-height: 5px;
    padding: 4%;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: start;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-color: black;
    border-width: 2px;

    &:focus {
        border-style: solid;
        border-color: black;
        border-width: 2px;
        outline-color: rgb(0, 0, 0);
        outline-style: solid;
        outline-width: 3px;
        outline-offset: .2rem;
        transition: all ease-out 0.1s;
        ;
    }
}

.input-and-buttons-container {
    display: flex;
    flex-direction: column;
}

.amount-text {
    color: rgb(0, 0, 0);
    padding: 5%;
    font-size: 2vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bet-prediction-text {
    font-size: 2.5vh;
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bet-prediction-amount-text {
    font-size: 2.5vh;
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 10px;
}

.main-pay-text {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.plus-button {
    @include button (rgba(255, 255, 255, 0), 50%, 40px, 5vh);
    min-width: 20px;
    min-height: 20px;
}

.minus-button {
    @include button (rgba(255, 255, 255, 0), 50%, 40px, 5vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6%;
    min-width: 20px;
    min-height: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.winnings-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
    height: 100px;
}

.bet-button {
    @include button(rgba(58, 58, 58, 0), 100%, 60px, 2.5vh);
    margin-bottom: 20%;

    &.invalidBalance {
        &:active {
            animation: shake 0.1s cubic-bezier(.36, .07, .19, .97);
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }
    }
}

.bet-button-confirm {
    margin-top: 10%;
    @include button(rgba(132, 245, 40, 0.438), 100%, 60px, 2.5vh);
    margin-bottom: 20%;
}

.bet-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

.bet-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}

.bet-status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    margin-top: 5%;
}

.win-text {
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.lose-text {
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bet-text-space-fillcontainer {
    height: 100px;
}

.winnings-space-fill-container {
    margin-top: 5%;
    height: 100px;
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .error-text {
        font-weight: bold;
        color: rgba(253, 55, 55, 0.61);
    }
}

@keyframes shake {

    0% {
        -webkit-transform: translate(12px, 0);
    }

    50% {
        -webkit-transform: translate(-12px, 0);
    }

    100% {
        -webkit-transform: translate(12px, 0);
    }
}

@media only screen and (max-width: 800px) {
    .input-and-name-inner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .all-input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}