@mixin button ($color, $width: 120px, $height: 40px, $fontSize: 40px) {
    width: $width;
    height: $height;
    color: white;
    background-color: $color;
    border: none;
    box-shadow: 0px 1px black;
    border-radius: 5px;
    font-size: $fontSize;
    line-height: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    border-style: ridge;
    border-color: black;
    border-width: 3px;
    border-spacing: 10px;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.5;
    }

    &:disabled {
        color: rgba(255, 255, 255, 0.363);
        background-color: desaturate($color, 50%);
    }
}

.pay-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.input-and-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 50px;
}

.input-and-name-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    min-width: 100px;
    min-height: 50px;
    margin: 1%;
}

.plus-minus-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 5%;
}

.all-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.amount-input {
    width: 100px;
    height: 50px;
    min-width: 5px;
    min-height: 5px;
    padding: 4%;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: start;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    text-align: center;

    &:focus {
        border-style: solid;
        border-color: black;
        border-width: 2px;
        outline-color: rgb(0, 0, 0);
        outline-style: solid;
        outline-width: 3px;
        outline-offset: .2rem;
        transition: all ease-out 0.1s;
        ;
    }
}

.input-and-buttons-container {
    display: flex;
    flex-direction: column;
}

.amount-text {
    color: white;
    padding: 5%;
    font-size: 2vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-pay-text {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.plus-button {
    @include button (rgb(125, 179, 40), 100%, 40px, 5vh);
    min-width: 40px;
    min-height: 20px;
}

.minus-button {
    @include button (rgb(219, 40, 79), 100%, 40px, 5vh);
    min-width: 40px;
    min-height: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.winnings-container {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    width: 90%;
    margin-top: 5%;
}

.bet-button {
    margin-top: 10%;
    @include button(rgb(40, 214, 245), 50%, 60px, 2.5vh);
    margin-bottom: 20%;
}

.bet-button-confirm {
    margin-top: 10%;
    @include button(rgb(132, 245, 40), 50%, 60px, 2.5vh);
    margin-bottom: 20%;
}

.bet-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
}

.bet-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bet-status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    margin-top: 5%;
}

.win-text {
    font-size: 30px;
    color: rgb(168 255 171);
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;

    text-shadow:
        2px 2px 5px rgba(15, 94, 103, 0.4),
        -2px -2px 5px rgba(255, 255, 255, 0.08);
    outline: none;
}

.lose-text {
    font-size: 30px;
    color: rgb(233, 22, 68);
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;

    text-shadow:
        2px 2px 5px rgba(15, 94, 103, 0.4),
        -2px -2px 5px rgba(255, 255, 255, 0.08);
    outline: none;
}

@media only screen and (max-width: 800px) {
    .input-and-name-inner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .all-input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}