<div class="pay-container">
    <span class="main-pay-text">STATYMAS</span>
    <div *ngIf="betText" class="bet-text-container">
        <span class="bet-prediction-text">{{betText}}</span>
        <span class="bet-prediction-text">{{betCof}}</span>
    </div>
    <div *ngIf="!betText" class="bet-text-space-fillcontainer"></div>
    <div class="all-input-container">
        <div class="input-container">
            <div class="input-and-name-container">
                <div class="input-and-name-inner-container">
                    <input class="amount-input" type="number" (ngModelChange)="setMakseideriai($event)"
                        [(ngModel)]="makseideriai" [disabled]="disabled">
                    <span class="amount-text">Makšeideriai</span>
                </div>
            </div>
            <div class="plus-minus-container">
                <button class="plus-button" (click)="addMakseideriai()" [disabled]="disabled">+</button>
                <button class="minus-button" (click)="removeMakseideriai()" [disabled]="disabled">-</button>
            </div>
        </div>

        <div class="input-container">
            <div class="input-and-name-container">
                <div class="input-and-name-inner-container">
                    <input class="amount-input" type="number" (ngModelChange)="setPiniginiai($event)"
                        [(ngModel)]="piniginiai" [disabled]="disabled">
                    <span class="amount-text">Piniginiai</span>
                </div>
            </div>
            <div class="plus-minus-container">
                <button class="plus-button" (click)="addPiniginiai()" [disabled]="disabled">+</button>
                <button class="minus-button" (click)="removePiniginiai()" [disabled]="disabled">-</button>
            </div>
        </div>

        <div class="input-container">
            <div class="input-and-name-container">
                <div class="input-and-name-inner-container">
                    <input class="amount-input" type="number" (ngModelChange)="setZetonai($event)" [(ngModel)]="zetonai"
                        [disabled]="disabled">
                    <span class="amount-text">Zetonai</span>
                </div>
            </div>
            <div class="plus-minus-container">
                <button class="plus-button" (click)="addZetonai()" [disabled]="disabled">+</button>
                <button class="minus-button" (click)="removeZetonai()" [disabled]="disabled">-</button>
            </div>
        </div>
    </div>
    <div *ngIf="winAmountSet" class="winnings-container">
        <span class="bet-prediction-text">Galimas laimėjimas:</span>
        <span class="bet-prediction-amount-text">{{winMakseiderAmount}} M</span>
        <span class="bet-prediction-amount-text">{{winPiniginiaiAmount}} P</span>
        <span class="bet-prediction-amount-text">{{winZetonaiAmount}} Z</span>
    </div>
    <div *ngIf="!winAmountSet" class="winnings-space-fill-container"></div>
    <div *ngIf="betResponseText != '' && betResponse.status" class="bet-status">
        <span class="win-text">Laimėjote: {{betResponseText}} !</span>
    </div>
    <div *ngIf="betResponseText != '' && !betResponse.status" class="bet-status">
        <span class="lose-text">Pralaimėjote: {{betResponseText}}</span>
    </div>
    <div *ngIf="!betMade" class="bet-button-container">
        <div class="error-container" *ngIf="!enoughBalance">
            <span class="error-text">Nepakankamas likutis!</span>
        </div>
        <button [ngClass]="enoughBalance ? 'bet-button':'bet-button invalidBalance'" (click)="sendBet()"
            [disabled]="disabled">Atlikti statymą</button>
    </div>
    <div *ngIf="betMade" class="bet-button-container">
        <button class="bet-button-confirm" [disabled]=true>Statymas atliktas</button>
    </div>

</div>