<div class="loading-container" *ngIf="loading">
    <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</div>
<div *ngIf="betStatus == 'win' || betStatus == 'lose'"
    [ngClass]="betStatus == 'win' ? 'status-overlay win-style' : betStatus == 'lose' ? 'status-overlay lose-style' : 'status-overlay'">
</div>
<div class="main-coin-game-container">
    <div class="user-info-container">
        <app-user-info (newUserEvent)="setClientData($event)"
            (newClientWalletInZetonEvent)="setClientWalletInZeton($event)"></app-user-info>
    </div>
    <app-timer></app-timer>
    <div class="first-group-container">
        <div class="coin-container">
            <div>
                <app-coin></app-coin>
            </div>
        </div>
        <div class="message-container">
            <div>
                <app-messages (loadingComplete)="setLoaded($event)"></app-messages>
            </div>
        </div>
    </div>
    <div>
        <app-previous-results [roomName]="roomName" (loadingComplete)="setLoaded($event)"></app-previous-results>
    </div>
    <div class="main-activity-container">
        <div class="coin-bet-container">
            <div>
                <app-coin-bet (newPredictionEvent)="setBetPrediction($event)" [disabled]="disabled" [reset]="reset">
                </app-coin-bet>
            </div>

        </div>
        <div class="payment-container">
            <div>
                <app-payment (newBetAmountEvent)="setBetAmount($event)" (newBetResponseEvent)="setBetStatus($event)"
                    (newSubmitEvent)="sendBet()" [disabled]="disabled" [coinBet]="betPrediction" [betMade]="betMade"
                    [reset]="reset" [clientWalletInZeton]="clientWalletInZeton"></app-payment>
            </div>
        </div>
    </div>
</div>