<div class="crash-bet-main-container">
    <div class="auto-stop-conteiner">
        <span class="stop-bet-text">Automatinio sustabdymo įvedimas</span>
        <span class="small-text">(Įvedus norimą skaičių spausti pativrtinit ir atlikti statymą)</span>
        <div class="stop-bet-amount-input-container">
            <input type="number" class="stop-bet-amount-input" [(ngModel)]="autoStopAmount">
            <button
                [ngClass]="autoStopPressed ? 'stop-bet-amount-confirm-button select-style' : 'stop-bet-amount-confirm-button'"
                (click)="setAutoStop()" [disabled]="disabled">PATVIRTINTI</button>
        </div>
    </div>
    <div class="stop-bet-button-container">
        <div>
            <span class="stop-bet-text">Rankinis sustabymas</span>
        </div>
        <button class="stop-bet-button" (click)="stopCrash()">STABDYTI</button>
    </div>
</div>