.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: rgb(88, 201, 250);
}

.login-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    width: 100%;
}

.login-button {
    width: 200px;
    height: 100px;
    border-width: 0px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5vh;
    text-transform: uppercase;
    text-shadow:
        -3px -3px 10px rgba(255, 255, 255, 0.4),
        3px 3px 3px rgba(0, 0, 0, 0.08);
    caret-color: #363636;

    border-radius: 50px;
    background: linear-gradient(145deg, #5ed7ff, #4fb5e1);
    box-shadow: 6px 6px 10px #4db1dc,
        -6px -6px 10px #63e1ff;

    &:hover {
        border-radius: 50px;
        background: linear-gradient(145deg, #4fb5e1, #5ed7ff);
        box-shadow: 6px 6px 10px #4db1dc,
            -6px -6px 10px #63e1ff;
    }

    &:active {
        border-radius: 50px;
        background: #58c9fa;
        box-shadow: inset 6px 6px 10px #4db1dc,
            inset -6px -6px 10px #63e1ff;
    }
}

.login-name {
    color: rgb(255, 255, 255);
    font-size: 8vw;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;

    text-shadow:
        -5px -5px 15px rgba(255, 255, 255, 0.4),
        5px 5px 5px rgba(0, 0, 0, 0.08);
    caret-color: #fefefe;
    outline: none;
}

.login-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10%;
}

.presented-container {
    padding-top: 4%;
}

.presented-text {
    color: rgb(255, 255, 255);
    font-size: 1vw;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;

    text-shadow:
        -5px -5px 15px rgba(255, 255, 255, 0.4),
        5px 5px 5px rgba(0, 0, 0, 0.08);
    caret-color: #fefefe;
    outline: none;
}

@media only screen and (max-width: 800px) {
    .presented-text {
        color: rgb(255, 255, 255);
        font-size: 2vw;
        font-weight: bold;
        font-family: sans-serif;
        text-transform: uppercase;

        text-shadow:
            -5px -5px 15px rgba(255, 255, 255, 0.4),
            5px 5px 5px rgba(0, 0, 0, 0.08);
        caret-color: #fefefe;
        outline: none;
    }
}