<div class="list-container">
    <div class="left-list">
        <h2>Nemokamai</h2>
        <ul>
            <li><span class="option-text">Laimes ratas</span> <span class="checkmark">&#10003;</span></li>
            <li><span class="option-text">Mirties moneta</span> <span class="unavailable">X</span></li>
            <li><span class="option-text">Pailgas rojus</span> <span class="unavailable">X</span></li>
            <li><span class="option-text">Pražūtingas pakilimas</span> <span class="checkmark">&#10003;</span></li>
            <li><span class="option-text">Aukstyn žemyn</span> <span class="unavailable">X</span></li>
        </ul>
    </div>
    <div class="right-list">
        <h2>Prenumerata</h2>
        <ul>
            <li><span class="option-text">Laimes ratas</span> <span class="checkmark">&#10003;</span></li>
            <li><span class="option-text">Mirties moneta</span> <span class="checkmark">&#10003;</span></li>
            <li><span class="option-text">Pailgas rojus</span> <span class="checkmark">&#10003;</span></li>
            <li><span class="option-text">Pražūtingas pakilimas</span> <span class="checkmark">&#10003;</span></li>
            <li><span class="option-text">Aukstyn žemyn</span> <span class="checkmark">&#10003;</span></li>
        </ul>
        <h3 class="option-text">30 piniginių/sav</h3>
        <button class="buy-button" (click)="openConfirmationDialog()">Prenumeruoti</button>
    </div>
</div>