li {
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    padding: 20px;
    gap: 20px;
}

.left-list,
.right-list {
    width: 50%;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #0255ad;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 2%;
}

li {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.option-text {
    flex-grow: 1;
    font-weight: bold;
}

.checkmark,
.unavailable {
    font-size: 20px;
    font-weight: bold;
    color: #28a745;
}

.unavailable {
    font-weight: bold;
    color: red;
}

li:not(:last-child) {
    border-bottom: 2px solid #000000;
}

.buy-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #0069d9;
}

@media (max-width: 767px) {
    .list-container {
        flex-wrap: wrap;
    }

    .left-list,
    .right-list {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}