<div class="wheel-container">
    <div class="arrow-container">
        <div class="arrow-inner-contaier">
            <img src="../../assets/arrow.png" class="arrow">
        </div>
    </div>

    <div [ngClass]="initialPosSet ? 'wheel-transition' : 'wheel-no-transition'" id="wheel">
        <img src="../../assets/wheelNew.png" class="wheel-size">
        <div class="wheel-center-container">
            <img src="../../assets/wheel-middle.png" class="wheel-center">
        </div>
    </div>
</div>