<div class="main-container">
    <div class="main-activity-container">
        <div class="item-container">
            <img class="menu-item" src="../../../assets/mainMenuWheel.png" routerLink="/wheel">
        </div>
        <div *ngIf="isMember" class="item-container">
            <img class="menu-item" src="../../../assets/mainMenuCoin.png" routerLink="/coin">
        </div>
        <div *ngIf="!isMember" class="item-container">
            <img class="menu-item" src="../../../assets/mainMenuCoinLocked.png">
        </div>
        <div *ngIf="isMember" class="item-container">
            <img class="menu-item" src="../../../assets/mainMenuLine.png" routerLink="/list">
        </div>
        <div *ngIf="!isMember" class="item-container">
            <img class="menu-item" src="../../../assets/mainMenuLineLocked.png">
        </div>
        <div class="item-container">
            <img class="menu-item" src="../../../assets/mainMenuCrash.png" routerLink="/crash">
        </div>
    </div>
    <div class="leaderboard-item-container">
        <img class="leaderboard-image" src="../../../assets/zaideju-top.png" routerLink="/top">
    </div>
</div>