.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  background-color: rgb(88, 201, 250);
}

.menu-item {
  position: relative;
  width: 80%;
  height: 100%;
  object-fit: contain;
  border-radius: 25px;
  box-shadow: -1px 10px 29px -9px rgba(0, 0, 0, 0.71);

  &:hover {
    width: 72%;
    box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.71);
    transition: all ease-out 0.1s;
  }

  &:active {
    width: 65%;
    box-shadow: -1px 10px 29px -12px rgba(0, 0, 0, 0.71);
    transition: all ease-out 0.1s;
  }
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(88, 201, 250);
  }

  .item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
}