<div class="line-game-main-container">
    <div class="user-info-container">
        <app-user-info></app-user-info>
    </div>
    <app-timer></app-timer>
    <div class="main-game-container">
        <div class="line-container">
            <div>
                <app-line></app-line>
            </div>

        </div>
        <div class="messages-container">
            <div>
                <app-messages></app-messages>
            </div>

        </div>
    </div>
    <div class="previrous-results-container">
        <app-previous-results></app-previous-results>
    </div>

    <div class="payment-container">
        <app-payment></app-payment>
    </div>

</div>