<div class="line-game-main-container">
    <div class="user-info-container">
        <app-user-info (newUserEvent)="setClientData($event)"
            (newClientWalletInZetonEvent)="setClientWalletInZeton($event)"></app-user-info>
    </div>
    <app-timer></app-timer>
    <div class="main-game-container">
        <div class="line-container">
            <div>
                <app-line></app-line>
            </div>

        </div>
        <div class="messages-container">
            <div>
                <app-messages></app-messages>
            </div>

        </div>
    </div>
    <div class="previrous-results-container">
        <app-previous-results [roomName]="roomName"></app-previous-results>
    </div>

    <div class="payment-container">
        <app-payment (newBetAmountEvent)="setBetAmount($event)" (newSubmitEvent)="sendBet()" [disabled]="disabled"
            [betMade]="betMade" [reset]="reset" [clientWalletInZeton]="clientWalletInZeton" [lineBet]="true">
        </app-payment>
    </div>

</div>