.dialog-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dialog-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.dialog-button-exit {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 5px;
    border: 1px solid black;
}

.dialog-button {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 5px;
    border: 0;
}