<div class="header-container">
    <div *ngIf="showBackButton" class="back-button-container">
        <button class="logout-button" (click)="goBackToMenu()">
            <span class="logout-button-text"> back </span>
        </button>
    </div>
    <div *ngIf="!showBackButton" class="back-button-empty-container">
    </div>
    <div class="user-info-container">
        <div class="user-photo-container">
            <div *ngIf="avatar" class="oval" [ngStyle]="{'background-image': 'url(' + avatar + ')'}">
            </div>
        </div>
        <div class="user-name-container">
            {{nick}}
        </div>
        <div *ngIf="balance" class="user-wallet-container">
            <span class="amount-text">{{balance.GOLD}} M </span>
            <span class="amount-text">{{balance.SILVER}} P </span>
            <span class="amount-text">{{balance.COPPER}} Z </span>
            <div class="lives-container">
                <span class="lives-text">{{lives}}</span>
                <img class="lives-image" src="../../../assets/hearth.png">
            </div>
        </div>
    </div>
    <div class="logout-container">
        <button class="logout-button" (click)="logout()">
            <span class="logout-button-text">Logout</span>
        </button>
    </div>
</div>